/* 背景底色 */
body {
    background-color: #f1f5f3;
}

/* 顶部透明栏 */
.header {
    width: 100vw;
    height: 17.52vw;
    /* 设置圆角 */
    border-radius: 0 0 2vw 2vw;
    /* 渐变 */
    background-image: repeating-linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, 1));
    /* 透明度 */
    opacity: 0.8;
    /* 阴影 */
    box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
    /* 固定定位 */
    position: fixed;
    top: 0;
    /* 设置层级 */
    z-index: 9999;
}

.return {
    /* 设置为块级元素 */
    display: block;
    /* 绝对定位 */
    position: absolute;
    left: 4vw;
    top: 5vw;
    /* 设置层级 */
    z-index: 9999;
}

/* 增加icon */
.return>p::before {
    content: '\e600';
    font-family: 'iconfont';
    font-size: 7vw;
    color: #4A4848;
}

/* 顶部透明栏字体 */
.header-tips {
    width: 45vw;
    height: 8vw;
    /* 绝对定位 */
    position: absolute;
    left: 30vw;
    top: 4.2vw;
    font-size: 4.5vw;
    color: #000;
    /* 字体加粗 */
    font-weight: bold;
    /* 字体库宽度、高度居中 */
    line-height: 8vw;
    text-align: center;
    /* 设置层级 */
    z-index: 9999;
}

.banner {
    width: 100vw;
    height: 220vw;
    margin-top: 30vw;
    /* 设置圆角 */
    border-radius: 2vw;
    /* 开启flex */
    display: flex;
    /* 自动换行 */
    flex-wrap: wrap;
}

.banner-list {
    width: 96vw;
    height: 70vw;
    /* 开启flex */
    display: flex;
    /* 自动换行 */
    flex-wrap: wrap;
    margin-left: 2vw;
}

/* 图片内容 */
.image-tale {
    /* 使元素变为块元素 */
    display: block;
    width: 96vw;
    height: 60vw;
    /* 开启相对定位为帮助图片中文字定位 */
    position: relative;
    /* 背景图片 */
    background-image: url(../img/童话.jpg);
    /* 图片大小 */
    background-size: 100% 100%;
    /* 背景图片不重复 */
    background-repeat: no-repeat;
    /* 设置圆角 */
    border-radius: 4vw;
}

.image-summer {
    /* 使元素变为块元素 */
    display: block;
    width: 96vw;
    height: 60vw;
    /* 开启相对定位为帮助图片中文字定位 */
    position: relative;
    /* 背景图片 */
    background-image: url(../img/夏.jpg);
    /* 图片大小 */
    background-size: 100% 100%;
    /* 背景图片不重复 */
    background-repeat: no-repeat;
    /* 设置圆角 */
    border-radius: 4vw;
}

.image-winter {
    /* 使元素变为块元素 */
    display: block;
    width: 96vw;
    height: 60vw;
    /* 开启相对定位为帮助图片中文字定位 */
    position: relative;
    /* 背景图片 */
    background-image: url(../img/冬.jpg);
    /* 图片大小 */
    background-size: 100% 100%;
    /* 背景图片不重复 */
    background-repeat: no-repeat;
    /* 设置圆角 */
    border-radius: 4vw;
}

/* 图片中的文字 */
.image-tale img,
.image-summer img,
.image-winter img {
    width: 42vw;
    height: 6vw;
    position: absolute;
    top: 5vw;
    left: 12vw;
}

/* 图片介绍 */
.image-msg {
    width: 96vw;
    height: 10vw;
    font-size: 3.5vw;
    line-height: 10vw;
    text-align: center;
    font-weight: bold;
}

/* 结尾语 */
.footer {
    width: 100vw;
    height: 10vw;
    margin: 0vw auto 15vw auto;
    line-height: 10vw;
    text-align: center;
    color: #808080;
    font-size: 3.5vw;
}

/* 底部icon */
.foot {
    /* 设置层级 */
    z-index: 9999;
    width: 100vw;
    height: 14vw;
    /* 背景模糊 */
    backdrop-filter: blur(3px);
    background: hsla(0, 0%, 70%, 0.4);
    /* 宽度、高度居中 */
    line-height: 14vw;
    text-align: center;
    /* 固定定位 */
    position: fixed;
    bottom: 0;

}

/* icon样式 */
.icons {
    width: 100vw;
    height: 14vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icons a {
    display: block;
    width: 10vw;
    height: 14vw;
    /* icon颜色 */
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 10vw;
}

/* 增添icon */
.a1::before {
    content: '\e751';
    font-family: 'iconfont';
    color: #808080;
}

.a2::before {
    content: '\e75b';
    font-family: 'iconfont';
}

.a3::before {
    content: '\ec3b';
    font-family: 'iconfont';
}

.a4::before {
    content: '\e62f';
    font-family: 'iconfont';
}

/* 鼠标移入icon效果 */
.icons a:hover {
    color: #808080;
}