/* 背景底色 */
body{
    background-color: #f1f5f3;
}

/* 顶部栏 */
.header{
    width: 100vw;
    height: 17.52vw;
    /* 圆角 */
    border-radius: 0 0 2vw 2vw;
    /* 渐变 */
    background-image: repeating-linear-gradient(rgba(255, 255, 255,.7),rgba(255, 255, 255,1));
    /* 透明度 */
    opacity:0.8;
    /* 阴影 */
    box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
    /* 固定定位 */
    position: fixed;
    top: 0;
    /* 设置层级 */
    z-index: 9999;
}

.return{
    /* 设置为块级元素 */
    display: block;
    /* 绝对定位 */
    position: absolute;
    left: 4vw;
    top: 5vw;
    /* 设置层级 */
    z-index: 9999;
}

.return > p::before{
    content: '\e600';
    /* 设置字体 */
    font-family: 'iconfont';
    font-size: 7vw;
    color: #4A4848;
}

.header-tips{
    width: 45vw;
    height: 8vw;
    /* 绝对定位 */
    position: absolute;
    left: 30vw;
    top: 4.2vw;
    font-size: 4.5vw;
    color: #000;
    font-weight: bold;
    line-height: 8vw;
    text-align: center;
    /* 设置层级 */
    z-index: 9999;
}


.summer{
    width: 96vw;
    height: 1000vw;
    margin-left: 2vw;
    margin-top: 15vw;
}

/* 设置图片大小 */
.summer img{
    width: 100%;
    height: 100%;
    border-radius: 4vw;
}

/* 结尾语 */
.footer{
    width: 100vw;
    height: 10vw;
    margin: 0vw auto 15vw auto;
    line-height: 10vw;
    text-align: center;
    color: #808080;
    font-size: 3.5vw;
}

/* 底部icon容器 */
.foot{
    /* 设置层级 */
    z-index: 9999;
    width: 100vw;
    height: 14vw;
    /* 背景模糊 */
    backdrop-filter: blur(3px);
    /* 背景颜色 */
    background: hsla(0, 0%, 70%, 0.4);
    line-height: 14vw;
    text-align: center;
    /* 固定定位 */
    position: fixed;
    bottom: 0;
}
/* icon样式 */
.icons{
    width: 100vw;
    height: 14vw;
    display: flex;
    align-items: center;
    /* 空白分布元素两侧 */
    justify-content: space-around;
}

.icons a{
    display: block;
    width: 10vw;
    height: 14vw;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 10vw;
}
/* 引入icon */
.a1::before{
    content: '\e751';
    font-family: 'iconfont';
    color: #808080;
}
.a2::before{
    content: '\e75b';
    font-family: 'iconfont';
}
.a3::before{
    content: '\ec3b';
    font-family: 'iconfont';
}
.a4::before{
    content: '\e62f';
    font-family: 'iconfont';
}
/* 鼠标移入icon效果 */
.icons a:hover{
    color: #808080;
}