/* 背景底色 */
body {
    background-color: #f1f5f3;
}

/* 顶部透明栏 */
.header {
    width: 100vw;
    height: 17.52vw;
    /* 设置圆角 */
    border-radius: 0 0 2vw 2vw;
    /* 渐变 */
    background-image: repeating-linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, 1));
    /* 透明度 */
    opacity: 0.8;
    /* 阴影 */
    box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
    /* 固定定位 */
    position: fixed;
    top: 0;
    /* 设置层级 */
    z-index: 9999;
}

.return {
    /* 设置为块级元素 */
    display: block;
    /* 绝对定位 */
    position: absolute;
    left: 4vw;
    top: 5vw;
    /* 设置层级 */
    z-index: 9999;
}

/* 增加icon */
.return>p::before {
    content: '\e600';
    font-family: 'iconfont';
    font-size: 7vw;
    color: #4A4848;
}

/* 顶部透明栏字体 */
.header-tips {
    width: 45vw;
    height: 8vw;
    /* 绝对定位 */
    position: absolute;
    left: 30vw;
    top: 4.2vw;
    font-size: 4.5vw;
    color: #000;
    /* 字体加粗 */
    font-weight: bold;
    /* 字体库宽度、高度居中 */
    line-height: 8vw;
    text-align: center;
    /* 设置层级 */
    z-index: 9999;
}

/* 宣传图 */
.top-tu {
    width: 100vw;
    height: 50vw;
    margin-top: 15vw;
}

/* 设置宣传图大小 */
.top-tu img {
    width: 100%;
    height: 100%;
}

/* 主题介绍 */
.tip {
    width: 100vw;
    height: 38vw;
    position: relative;
    top: 5vw;
}

/* 标题样式 */
.title {
    width: 50vw;
    height: 8vw;
    font-size: 7vw;
    position: absolute;
    left: 2vw;
    font-weight: bold;
}

/* 标题介绍样式 */
.title-msg {
    width: 96vw;
    height: 13vw;
    font-size: 2.9vw;
    position: absolute;
    top: 10vw;
    left: 2vw;
    /* 字体间隙 */
    letter-spacing: 1px;
}

/* 导航容器 */
.msg {
    width: 100vw;
    height: 12vw;
    position: absolute;
    top: 25vw;
    display: flex;
}

/* 导航 */
.msg-list {
    /* 使a变为块元素 */
    display: block;
    width: 45vw;
    height: 10vw;
    /* 背景颜色 */
    background-color: #D9EBFF;
    margin: 1vw 2vw 0 1.5vw;
    /* 设置圆角 */
    border-radius: 2vw;
    color: #183773;
    font-size: 3vw;
    /* 设置文字宽度、高度居中 */
    line-height: 10vw;
    font-weight: bold;
    /* 开启相对定位 */
    position: relative;
}

/* 文字 */
.msg-list-guild {
    position: absolute;
    left: 2vw;
}

/* 引入icon */
.msg-list>p::before {
    content: '\e775';
    font-family: 'iconfont';
    font-size: 3.5vw;
    color: #183773;
    position: absolute;
    left: 38vw;
}

/* 副标题 */
.nav {
    width: 30vw;
    height: 8vw;
    font-size: 5vw;
    margin-top: 8vw;
    margin-left: 2vw;
    font-weight: bold;
}

/* 主题内容容器 */
.banner {
    width: 100vw;
    height: 70vw;
    /* 开启相对定位 */
    position: relative;
}

.banner-msg {
    width: 96vw;
    height: 45vw;
    /* 开启绝对定位 */
    position: absolute;
    left: 2vw;
    background-color: #000;
}

/* 主题图片大小 */
.banner-msg img {
    width: 100%;
    height: 100%;
}

/* 排名 */
.ranking {
    z-index: 999;
    width: 16vw;
    height: 6vw;
    position: absolute;
    top: 4vw;
    left: 0.5vw;
    background-color: #A5D63F;
    /* 消除圆角影响 */
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    color: #ffffff;
    /* 文字宽度、高度居中 */
    line-height: 6vw;
    text-align: center;
    /* 文字加粗 */
    font-weight: bold;
}

.banner-tips {
    width: 20vw;
    height: 8vw;
    /* 开启绝对定位 */
    position: absolute;
    top: 47vw;
    left: 2vw;
    font-size: 4.5vw;
    /* 文字宽度、高度居中 */
    font-weight: bold;
    line-height: 8vw;
    text-align: center;
}

/* 文字介绍 */
.banner-list {
    width: 96vw;
    height: 7vw;
    position: absolute;
    top: 56vw;
    left: 2vw;
    font-size: 2.9vw;
    color: #A6A6A6;
}

/* 评分容器 */
.hot {
    width: 96vw;
    height: 8vw;
    position: absolute;
    top: 63vw;
    left: 2vw;
    display: flex;
}

/* 评分样式设置 */
.support {
    width: 10vw;
    height: 5vw;
    /* 宽度、高度居中 */
    line-height: 5vw;
    text-align: center;
    font-size: 3vw;
    /* 加粗 */
    font-weight: bold;
}

.comments {
    width: 20vw;
    height: 5vw;
    line-height: 5vw;
    text-align: center;
    font-size: 3vw;
    color: #A6A6A6;
}

/* 结尾语 */
.footer {
    width: 100vw;
    height: 10vw;
    margin: 0vw auto 15vw auto;
    line-height: 10vw;
    text-align: center;
    color: #808080;
    font-size: 3.5vw;
}

/* 底部icon */
.foot {
    /* 设置层级 */
    z-index: 9999;
    width: 100vw;
    height: 14vw;
    /* 背景模糊 */
    backdrop-filter: blur(3px);
    background: hsla(0, 0%, 70%, 0.4);
    /* 宽度、高度居中 */
    line-height: 14vw;
    text-align: center;
    /* 固定定位 */
    position: fixed;
    bottom: 0;

}

/* icon样式 */
.icons {
    width: 100vw;
    height: 14vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icons a {
    display: block;
    width: 10vw;
    height: 14vw;
    /* icon颜色 */
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 10vw;
}

/* 引入icon */
.a1::before {
    content: '\e751';
    font-family: 'iconfont';
    color: #808080;
}

.a2::before {
    content: '\e75b';
    font-family: 'iconfont';
}

.a3::before {
    content: '\ec3b';
    font-family: 'iconfont';
}

.a4::before {
    content: '\e62f';
    font-family: 'iconfont';
}

/* 鼠标移入效果 */
.icons a:hover {
    color: #808080;
}