@font-face {
  font-family: "iconfont"; /* Project id 3533564 */
  src: url('iconfont.woff2?t=1670126843326') format('woff2'),
       url('iconfont.woff?t=1670126843326') format('woff'),
       url('iconfont.ttf?t=1670126843326') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiugaioryijian:before {
  content: "\e601";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-54xiaoxi-1:before {
  content: "\e641";
}

.icon-aixin1:before {
  content: "\e8ab";
}

.icon-fenxiangxiao:before {
  content: "\e8d8";
}

.icon-xingxing:before {
  content: "\e870";
}

.icon-xingxing1:before {
  content: "\e66d";
}

.icon-a-fenxiang2:before {
  content: "\e607";
}

.icon-31fanhui1:before {
  content: "\e600";
}

.icon-weizhi:before {
  content: "\e649";
}

.icon-work-copy:before {
  content: "\e611";
}

.icon-hongbao:before {
  content: "\e671";
}

.icon-xiaoxi1:before {
  content: "\e67c";
}

.icon-shezhi:before {
  content: "\e8b8";
}

.icon-hongbao1:before {
  content: "\e937";
}

.icon-xiaoxi2:before {
  content: "\e615";
}

.icon-xiaoxi3:before {
  content: "\e884";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-lishidingdan:before {
  content: "\e624";
}

.icon-nan:before {
  content: "\e6c4";
}

.icon-kefu:before {
  content: "\e610";
}

.icon-zhuyi1:before {
  content: "\e633";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-wode:before {
  content: "\e62f";
}

.icon-xiaoxi:before {
  content: "\ec3b";
}

.icon-budaidise:before {
  content: "\e75b";
}

.icon-saoyisao1:before {
  content: "\e891";
}

